
<script type="text/javascript" src="script.js"></script>
<script>
    setTimeout(function(){
       window.location='../worst';
    }, 5000);
</script>

  {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'scoreboard/fstyle.css'%}" media="screen"/>
<div id='c'>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
</div>
<div class="bestvictories">MEILLEURS JOUEURS</div>

<div>


    <ul>
        {% for score in scores  %}
      <h1> <li>{{ score.name }} <div id='score'>{{ score.score }}</div></li></h1>
        {% endfor %}
    </ul>


</div>



