
<script type="text/javascript" src="script.js"></script>
<script>
    setTimeout(function(){
       window.location='best';
    }, 5000);
</script>

  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'scoreboard/fstyle.css'%}" media="screen"/>

<div id='c'>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
  <div class='s'></div>
</div>

<div class='area'>DERNIER GAGNANT</div>


<h1>{{last_winner}}</h1>

